.Unbrewd {
  justify-content: center;
  text-align: center;
  
}

.Unbrewd {
  background-color: #250b00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(198, 127, 65);
}

.Unbrewd-header {
  background-color: #250b00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(198, 127, 65);
}
